5_Applicativo/.godot/*
*/*.tmp
5_Applicativo/.godot/editor/filesystem_cache8
5_Applicativo/.godot/editor/filesystem_update4
5_Applicativo/.godot/editor/fountain.tscn-editstate-284b7f22b519f8afcb9d7b73ea8cdfae.cfg
5_Applicativo/.godot/editor/key_map.tscn-editstate-771a2a70e1727ad2ed069ad14a8ffe49.cfg
5_Applicativo/.godot/editor/portal.gd-folding-bfeb5f472204d2879c489927bd984701.cfg
5_Applicativo/.godot/editor/portal.tscn-editstate-e6aa7fcb2e43d6395eac3a8bf41ce62d.cfg
5_Applicativo/.godot/editor/project_metadata.cfg
5_Applicativo/.godot/editor/recent_dirs
5_Applicativo/.godot/editor/room_001.tscn-editstate-97962534afd47b0ad951301de73908fd.cfg
5_Applicativo/.godot/editor/start.tscn-editstate-99a5d1e8133907b80507e3bef01afe5d.cfg
5_Applicativo/.godot/editor/start.tscn-folding-99a5d1e8133907b80507e3bef01afe5d.cfg
*.cfg
*.cfg
